{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Bejelentkezés</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(size=32, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(size=32, class="form-control") }}
        </div>
        <div class="form-check">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <p>
        Új felhasználó?
        <a href="{{ url_for('auth.register') }}">Kattints ide a regisztrációhoz!</a>
    </p>
</div>
{% endblock %}
