{% extends "base.html" %}

{% block styles %}
<style>
    body {
            background-color: #f8f9fa;
        }
        .login-container {
            max-width: 599px;
            margin: 100px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .login-logo img {
            width: 100px;
            height: auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group .input-group-text {
            background-color: #f8f9fa;
        }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <div class="login-logo">
            <img src="{{ url_for('static', filename='icon-tp.png') }}" alt="BoxNinja Logó">
        </div>
        <h2 class="text-center mb-4">Bejelentkezés a BoxNinja-ba</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                    {{ form.username(class="form-control", placeholder="Felhasználónév") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                    {{ form.password(class="form-control", placeholder="Jelszó") }}
                </div>
            </div>
            <div class="form-check mb-3">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            {{ form.submit(class="btn btn-primary w-100", value="Bejelentkezés") }}
        </form>
        <div class="text-center mt-3">
            <p>
                Új felhasználó?
                <a href="{{ url_for('auth.register') }}">Kattints ide a regisztrációhoz!</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
