{% extends "base.html" %}

{% block styles %}
<style>
    body {
            background-color: #f8f9fa;
        }
        .register-container {
            max-width: 599px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .register-logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .register-logo img {
            width: 100px;
            height: auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group .input-group-text {
            background-color: #f8f9fa;
        }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="register-container">
        <div class="register-logo">
            <img src="{{ url_for('static', filename='icon-tp.png') }}" alt="BoxNinja Logó">
        </div>
        <h2 class="text-center mb-4">Regisztráció a BoxNinja-ba</h2>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                    {{ form.username(class="form-control", placeholder="Felhasználónév") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                    {{ form.email(class="form-control", placeholder="E-mail cím") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                    {{ form.password(class="form-control", placeholder="Jelszó") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                    {{ form.password2(class="form-control", placeholder="Jelszó megerősítése") }}
                </div>
            </div>
            {{ form.submit(class="btn btn-primary w-100", value="Regisztráció") }}
        </form>
        <div class="text-center mt-3">
            <p>
                Már van fiókod?
                <a href="{{ url_for('auth.login') }}">Kattints ide a bejelentkezéshez!</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
