{% extends "base.html" %} {% from "design-system.html" import icon %}{% block
content %} {% if current_user.is_admin() %}
<div class="col-md-4">
  <h1 class="mb-4 heading-1">
    <i class="fa-solid fa-door-closed mr-1"></i>
    Csomagautomaták
  </h1>

  <div class="form-inline">
    <a
      href="{{ url_for('parcel_locker.create') }}"
      class="btn btn-success text-white"
    >
      <i class="fa-solid fa-plus mr-1"></i>
      Hozzáadás</a
    >
  </div>
</div>
{% endif %}

<div class="card shadow-sm mt-4">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th scope="col" class="small">
              <i class="fa-solid fa-box mr-1"></i>
              Név
            </th>
            <th scope="col" class="small">
              <i class="fa-solid fa-location-dot mr-1"></i>
              Cím
            </th>
            <th scope="col" class="small">
              <i class="fa-solid fa-box mr-1"></i>
              Fiókok
            </th>
            <th scope="col" class="small">
              <i class="fa-solid fa-box mr-1"></i>
              Elérhető
            </th>
            <th scope="col" class="small">
              <i class="fa-solid fa-weight-scale mr-1"></i>
              Terhelés
            </th>
            <th scope="col" class="small">Műveletek</th>
          </tr>
        </thead>
        <tbody>
          {% for parcel_locker in parcel_lockers %} {% set load_percentage = (
          (parcel_locker.available_compartments /
          parcel_locker.total_compartments * 100)) | round %}
          <tr>
            <td class="small">{{ parcel_locker.location }}</td>
            <td class="small font-weight-bold">{{ parcel_locker.address }}</td>
            <td class="small">{{ parcel_locker.total_compartments }}</td>
            <td class="small">{{ parcel_locker.available_compartments }}</td>
            <td class="small">
              <div class="progress" style="height: 20px">
                <div
                  class="progress-bar {{ 'bg-warning' if load_percentage >= 50 else 'bg-success' }}"
                  role="progressbar"
                  style="width: {{ load_percentage }}%"
                  aria-valuenow="{{ load_percentage }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </td>
            <td>
              <div class="btn-group" role="group">
                <a
                  href="{{ url_for('package.list', parcel_locker_id=parcel_locker.id) }}"
                  class="btn btn-sm btn-primary"
                  >Csomagok megtekintése</a
                >
                {% if current_user.is_admin() %}
                <a
                  href="{{ url_for('parcel_locker.edit', id=parcel_locker.id) }}"
                  class="btn btn-sm btn-secondary"
                  >Szerkesztés</a
                >
                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
