{% extends "base.html" %} {% block content %}
<h1>Csomagautomaták</h1>

{% if current_user.is_admin() %}
<div class="col-md-4">
  <div class="form-inline">
    <a href="{{ url_for('parcel_locker.create') }}" class="btn btn-success"
      >Új csomagautomata hozzáadása</a
    >
  </div>
</div>

<br />

{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Total Compartments</th>
      <th>Available Compartments</th>
      <!-- <th>Created At</th>
            <th>Updated At</th> -->
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
    {% for parcel_locker in parcel_lockers %}
    <tr>
      <td>{{ parcel_locker.location }}</td>
      <td>{{ parcel_locker.address }}</td>
      <td>{{ parcel_locker.total_compartments }}</td>
      <td>{{ parcel_locker.available_compartments }}</td>
      <!-- <td>{{ parcel_locker.created_at }}</td>
            <td>{{ parcel_locker.updated_at }}</td> -->
      <td>
        <!-- <p>{{ parcel_locker.id }}</p>
                <br> -->
        <a
          href="{{ url_for('package.list', parcel_locker_id=parcel_locker.id) }}"
          class="btn btn-sm btn-primary"
          >Csomagok megtekintése</a
        >
        {% if current_user.is_admin() %}
        <a
          href="{{ url_for('parcel_locker.edit', id=parcel_locker.id) }}"
          class="btn btn-sm btn-outline-secondary"
          >Szerkesztés</a
        >
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
