{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h1>Raktár létrehozás</h1>
  <form method="POST" action="{{ url_for('warehouse.create') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.address.label }} {{ form.address(class="form-control p-1") }}
    </div>
    <div class="form-group">
      {{ form.capacity.label }} {{ form.capacity(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.current_load.label }} {{ form.current_load(class="form-control") }}
      <br>
    {{ form.submit(class="btn btn-primary") }}
  </form>
  
</div>
{% endblock %}