{% extends "base.html" %} 

{% block content %}
    <h1>Admin Panel</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <!-- Get permission options for current user and show it in a list -->
                     <!-- ---------------------------------------------------------------  -->
                    <select name="permission_options{{loop.index}}" id="permission_options{{loop.index}}" class="form-control p-2" onchange="change_permission({{user.id}} , {{loop.index}})">
                        <!-- flash("Userid: "+ {{user.id}}+, "Loop index: "+ {{loop.index}}) -->
                        {% for user_role in user.user_roles() %}
                            {% if user_role!=user.role %}
                                <option value="{{ user_role }}">{{user_role}}</option>
                            {% endif %}
                        {% endfor %}

                        {% for user_role in user.user_roles() %}
                            {% if user_role==user.role %}
                                <option value="{{ user_role }}" selected>{{user_role}}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                      <!-- ---------------------------------------------------------------  -->
                </td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}