<footer class="footer bg-light mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-dark">BoxNinja</h5>
        <p class="text-muted">Hatékony csomagelosztás és kézbesítés</p>
        <p class="text-muted">&copy; 2024 BoxNinja. Minden jog fenntartva.</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <ul class="list-unstyled">
          <li>
            <a href="#">Rólunk</a>
          </li>
          <li>
            <a href="#">Szolgáltatások</a>
          </li>
          <li>
            <a href="#">Árak</a>
          </li>
          <li>
            <a href="#">Kapcsolat</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#" class="text-muted">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-muted">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-muted">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-muted">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
